.icon {
	width: 24px;
}

.submit {
	background-color: #2ca9bc;
	border: none;
}

.submit:hover {
	background-color: #2896a7;

}

.delete {
	background-color: rgb(255, 112, 112);
	border: none;
}

.delete:hover {
	background-color: rgb(221, 72, 72);
}

.label-name {
	font-weight: bold;
}