.toolbar {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	grid-template-areas:
		"write . num-container";
	align-items: center;
}

.num-container {
	grid-area: num-container
}

.button {
	background-color: transparent;
	border: none;
}

.icon {
	width: 20px;
}

@media (min-width: 769px) {

	.compose-button {
		display: none;
	}

}