<div class="toolbar mb-3">
	<app-compose-button class="compose-button">
	</app-compose-button>

	<div class="actions-container" *ngIf="isSelected"> 
		<button class="button me-3" (click)="onDeleteClick()">
			<img class="icon" src="assets/bin.svg" alt="delete">
		</button>
		<button class="button me-3">
			<img class="icon" src="assets/read.svg" alt="mark-as-read">
		</button>
		<button class="button me-3">
			<img class="icon" src="assets/archive.svg" alt="archive">
		</button>
		<button class="button">
			<img class="icon" src="assets/moveto.svg" alt="moveto">
		</button>
	</div>

	<div class="num-container">
		<span class="num-messages">15 of 135 messages</span>
		<button class="button">
			<img class="icon" src="assets/arrow-left.svg" alt="arrow-left">
		</button>
		<button class="button"> 
			<img class="icon" src="assets/arrow-right.svg" alt="arrow-right">
		</button>
	</div>
</div>