<div class="nav-actions d-flex align-items-center mb-2">
	<app-nav-actions></app-nav-actions>
</div>
<div class="elements-list container-fluid overflow-y-scroll overflow-hidden" style="max-height: 300px;">
	<div class="row fw-bold border-bottom py-2 d-none d-md-flex">
		<div class="col-auto">✔</div>
		<div class="col-auto col-md-1">Date</div>
		<div class="col-auto col-md-2">From</div>
		<div class="col-auto col-md-3">Subject</div>
		<div class="col">Preview</div>
		<div class="col-auto">Delete</div>
	</div>
	<div>
		<app-mail-card *ngFor="let message of messages" [message]="message"></app-mail-card>
	</div>
	<div>





		<!-- legenda
		<div class="elements-list container-fluid overflow-y-scroll overflow-hidden" style="max-height: 300px;">
			<div class="row fw-bold border-bottom py-2 d-none d-md-flex">
				<div class="col-auto">✔</div>
				<div class="col-auto col-md-1">Date</div>
				<div class="col-auto col-md-2">From</div>
				<div class="col-auto col-md-3">Subject</div>
				<div class="col">Preview</div>
				<div class="col-auto">Delete</div>
			</div>


			<!-- lista mail test
			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox">
					<input class="form-check-input" type="checkbox">
				</div>
				<div class="col-auto col-md-1 date">07/09</div>
				<div class="col-auto col-md-2 from">Support</div>
				<div class="col-auto col-md-3 subject text-truncate">Benvenuto</div>
				<div class="col preview text-truncate d-none d-md-block">Grazie per esserti registrato al nostro
					servizio...
				</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">06/09</div>
				<div class="col-auto col-md-2 from">Giulia</div>
				<div class="col-auto col-md-3 subject text-truncate">Cena venerdì?</div>
				<div class="col preview text-truncate d-none d-md-block">Ehi, ci vediamo per cena venerdì sera come
					detto?</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">05/09</div>
				<div class="col-auto col-md-2 from">Amazon</div>
				<div class="col-auto col-md-3 subject text-truncate">Conferma ordine</div>
				<div class="col preview text-truncate d-none d-md-block">Il tuo pacco è stato spedito ed è in
					consegna...</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">04/09</div>
				<div class="col-auto col-md-2 from">LinkedIn</div>
				<div class="col-auto col-md-3 subject text-truncate">Nuova offerta</div>
				<div class="col preview text-truncate d-none d-md-block">C'è una posizione che potrebbe interessarti...
				</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">04/09</div>
				<div class="col-auto col-md-2 from">Paolo</div>
				<div class="col-auto col-md-3 subject text-truncate">Documenti</div>
				<div class="col preview text-truncate d-none d-md-block">Ti allego i documenti richiesti per la
					pratica...</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">03/09</div>
				<div class="col-auto col-md-2 from">Spotify</div>
				<div class="col-auto col-md-3 subject text-truncate">Nuova playlist</div>
				<div class="col preview text-truncate d-none d-md-block">Scopri la tua nuova playlist settimanale...
				</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">02/09</div>
				<div class="col-auto col-md-2 from">Luca</div>
				<div class="col-auto col-md-3 subject text-truncate">Allenamento</div>
				<div class="col preview text-truncate d-none d-md-block">Non dimenticare che domani c'è la sessione di
					palestra...</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">02/09</div>
				<div class="col-auto col-md-2 from">Netflix</div>
				<div class="col-auto col-md-3 subject text-truncate">Nuova serie</div>
				<div class="col preview text-truncate d-none d-md-block">Abbiamo aggiunto una nuova serie al catalogo...
				</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">01/09</div>
				<div class="col-auto col-md-2 from">Marco</div>
				<div class="col-auto col-md-3 subject text-truncate">Vacanze</div>
				<div class="col preview text-truncate d-none d-md-block">Le foto delle vacanze sono finalmente pronte...
				</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">31/08</div>
				<div class="col-auto col-md-2 from">Paypal</div>
				<div class="col-auto col-md-3 subject text-truncate">Ricevuta pagamento</div>
				<div class="col preview text-truncate d-none d-md-block">Hai effettuato un pagamento di 19,99€...</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>

			<div class="mail-row row align-items-center border-bottom py-2">
				<div class="col-auto checkbox"><input class="form-check-input" type="checkbox"></div>
				<div class="col-auto col-md-1 date">30/08</div>
				<div class="col-auto col-md-2 from">Twitter</div>
				<div class="col-auto col-md-3 subject text-truncate">Notifiche</div>
				<div class="col preview text-truncate d-none d-md-block">Hai 5 nuove notifiche in sospeso...</div>
				<div class="col-auto">
					<button class="btn btn-sm btn-link p-0">
						<img class="delete" src="assets/bin.svg" alt="delete">
					</button>
				</div>
			</div>


		</div> -->