<div class="mail-list-actions align-items-center d-flex justify-content-between border-bottom pb-3">
	<app-mail-list-actions></app-mail-list-actions>
</div>
<div class="elements-list container-fluid overflow-y-scroll overflow-hidden" style="max-height: 300px;">
	<div class="row fw-bold border-bottom py-2 d-none d-md-flex">
		<div class="col-sm-1">✔</div>
		<div class="col-sm-2">Date</div>
		<div class="col-sm-2">From</div>
		<div class="col-sm-2">Subject</div>
		<div class="col-sm-5">Preview</div>
	</div>
	<div>
		<app-mail-card 
			*ngFor="let mail of mails" 
			[mail]="mail"
			[isSelected]="isSelected(mail)"
			(selectionChanged)="onSelected($event)"
			(viewMail)="onView($event)">
		</app-mail-card>
	</div>
</div>