.delete {
	width: 20px;
}

.elements-list {
	scrollbar-color: rgb(231, 231, 231) rgb(255, 255, 255);
	scrollbar-width: thin;
}

@media (max-width: 768px) {
	.mail-row {
		display: grid;
		grid-template-columns: 24px 60px 100px 1fr 40px;
		/* 👈 fissi */
		column-gap: 12px;
		padding: 8px 0;
		border-bottom: 1px solid #ddd;
		text-align: left;
		align-items: start;
		/* tutti agganciati in alto/sx */
	}

	.checkbox {
		justify-self: start;
	}

	.date {
		justify-self: start;
	}

	.from {
		justify-self: start;
	}

	.subject {
		justify-self: start;
	}

	.preview {
		display: none;
	}

	.delete {
		justify-self: start;
		display: flex;
		align-items: center;
	}
}