// @media (min-width: 769px) {

// 	.compose-button {
// 		display: none;
// 	}

// }

// @media (max-width: 768px) {

// 	.compose-button {
// 		background-color: #2ca9bc;
// 		border: none;
// 		grid-area: write;
// 	}

// 	.compose-button:hover {
// 		background-color: #2896a7;

// 	}

// }

.compose-button {
	background-color: #2ca9bc;
	border: none;
}

.compose-button:hover {
	background-color: #2896a7;

}