.icon {
	width: 28px;
}

.logo-menu {
	background-color: transparent;
	border: none;
}

.button-menu {
	background-color: rgb(170, 247, 250);
	border: none;
	border-radius: 20%;
}

.logo {
	width: 48px;
}

.title {
	font-size: x-large;
	font-weight: bold;
}