.delete {
	width: 20px;
}

.highlight {
	background-color: rgb(247, 247, 247);
}

.opened-border {
	border-left: solid 3px transparent;
}

.opened-border.active {
	border-left: solid 3px #2ca9bc;
}

@media (min-width: 769px) {

	.date {
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 80px;
	}

	.from {
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 100px;
	}

	.subject {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.preview {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

}

@media (max-width: 768px) {

	.mail-row {
		font-size: smaller;
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"checkbox from date"
			". subject delete";
	}

	.checkbox {
		font-size: medium;
		grid-area: checkbox;
	}

	.date {
		grid-area: date;
	}

	.from {
		grid-area: from;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100px;
		min-width: 160px;
	}

	.subject {
		min-width: 170px;
		grid-area: subject;
		white-space: nowrap;
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.delete-container {
		grid-area: delete;
		justify-self: end;
		margin-right: 20px;
	}
}