<div class="container-fluid my-3 overflow-hidden mail-container">
	<p class="mb-1"><strong>From:</strong> Mario Rossi</p>
	<p class="mb-1"><strong>To:</strong> YOU!</p>
	<p class="mb-1"><strong>Date:</strong> 08/09</p>
	<p class="mb-3"><strong>Subject:</strong> Meeting</p>

	<div class="border rounded p-3 bg-light overflow-y-scroll textbox" style="max-height: 200px;">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos nihil tempora impedit quasi nisi porro deserunt
		repellendus ducimus sit rem perferendis odit esse nostrum laudantium, mollitia, officia necessitatibus culpa
		iste itaque quibusdam quas vero voluptatum cupiditate. Natus inventore, debitis eligendi, blanditiis, porro
		laborum libero aut ab dolores non impedit tempore corporis dicta laudantium maiores neque eius earum minima
		reiciendis quia mollitia? Officia earum exercitationem praesentium quae dolore illum, ex totam nihil sapiente
		ipsa, quibusdam neque accusamus, quod a illo sed perspiciatis. Eius optio corporis quidem nulla explicabo esse
		corrupti doloremque modi in et ut aut iusto error vero, iste laudantium sint ea magnam earum minima cum delectus
		voluptatem! Deserunt aliquid reprehenderit fugiat odit repudiandae eos placeat provident cum debitis voluptatum,
		ducimus modi saepe voluptatibus a in numquam sequi? Magnam reprehenderit tempore pariatur accusantium esse illum
		sunt aliquam voluptas nobis doloribus minima, deserunt explicabo! Nemo sed temporibus cupiditate aliquid soluta
		dolorem quo ea inventore quis sapiente, est perferendis molestiae! Placeat, eum, hic quaerat ea repellendus
		tempora aliquam cumque, reiciendis fuga dignissimos facere excepturi totam animi. Quaerat odit, magnam
		laudantium magni vero temporibus ad, nesciunt cupiditate qui iure nemo! Eius expedita, asperiores officia
		officiis laudantium iusto nisi suscipit animi! Deserunt ipsam minus eaque molestias laboriosam explicabo commodi
		dicta excepturi id quibusdam voluptates esse pariatur ullam, iste aspernatur, porro eligendi facere iure
		expedita dignissimos? Distinctio tenetur aspernatur dolor quaerat quia, maxime, exercitationem voluptatem beatae
		vero at sequi ullam ipsam. Repellendus corrupti cumque dolore voluptates. Ullam praesentium voluptate nihil esse
		ad delectus quod rerum aspernatur natus cumque iusto ducimus quaerat adipisci sapiente quas pariatur tempore a,
		ex incidunt cum harum! Quod, quasi reprehenderit. Recusandae a facere, maxime ex totam ipsa delectus illo, sunt
		quos eligendi excepturi rerum laudantium consequatur. Expedita quisquam nisi reiciendis, officia ipsa odio
		nulla, tenetur, perferendis sequi rerum quod! Praesentium id quasi quibusdam, accusantium ducimus animi,
		adipisci asperiores natus ut consectetur eos voluptatem ratione? Voluptas assumenda repellendus nam aliquam
		consectetur quaerat ab corporis ut eius, non optio earum aut possimus voluptatem impedit illo dicta atque
		consequuntur asperiores saepe? Neque optio quos placeat, iste laudantium laborum odio molestiae tempora, id ab
		dolorem eveniet praesentium. Sint eum deleniti impedit iste voluptate? Deleniti inventore quidem atque sed magni
		quo, quam, nesciunt vero obcaecati id consequuntur eius distinctio sunt, optio repudiandae ab tempora labore
		maiores error voluptates in odit similique delectus ratione. Amet, corporis saepe! Voluptate hic sint minima
		dicta possimus ipsam iusto excepturi quasi quo ab suscipit nobis, quas eligendi magni. Possimus, commodi nostrum
		suscipit harum consectetur consequuntur nobis libero optio aut tempore praesentium quia totam excepturi tenetur
		ad a dignissimos labore impedit, animi nemo autem consequatur neque veniam minus? Nesciunt ullam minus deserunt
		inventore a delectus eum sint adipisci, laborum odit recusandae assumenda nam accusantium, necessitatibus nihil
		laboriosam sapiente odio corrupti, nisi voluptates tempore placeat facilis ea distinctio! Eveniet in ipsum
		incidunt quis inventore dolorum praesentium reprehenderit beatae laboriosam. Ex beatae laudantium eos magni
		debitis possimus excepturi, quasi in architecto at fuga enim soluta est quod perferendis et inventore voluptates
		odit delectus officiis?
	</div>
</div>

<app-mail-actions></app-mail-actions>