<app-compose-button></app-compose-button>
<app-compose-modal 	
		*ngIf="isModalVisible$ | async"
		(close)="modalService.closeModal()">

	<app-compose-form></app-compose-form>

</app-compose-modal>

<ul class="folder-list flex-column w-100 mt-3">
	<li class="folder">
		<button class="btn btn-light w-100 text-start mb-1 mt-1">
			<img class="icon me-1" src="assets/inbox.svg" alt="inbox"> Inbox
		</button>
	</li>
	<li class="folder">
		<button class="btn btn-light w-100 text-start mb-1">
			<img class="icon me-1" src="assets/drafts.svg" alt="drafts"> Drafts
		</button>
	</li>
	<li class="folder">
		<button class="btn btn-light w-100 text-start mb-1">
			<img class="icon me-1" src="assets/sent.svg" alt="sent"> Sent
		</button>
	</li>
	<li class="folder">
		<button class="btn btn-light w-100 text-start mb-1">
			<img class="icon me-1" src="assets/bin.svg" alt="bin"> Trash
		</button>
	</li>
</ul>

<button class="btn btn-outline-secondary w-100 add-folder">
	+ Add custom folder
</button>