ul {
	list-style-type: none;
	padding: 0px;
}

.icon {
	width: 20px;
}

.button-compose {
	background-color: #2ca9bc;
	border: none;
}

.button-compose:hover {
	background-color: #2896a7;
}

.add-folder {
	background-color: white;
	border: 1px solid #2ca9bc;
}