<div class="container-fluid my-3 overflow-hidden mail-container">
	<p class="mb-1"><strong>From: </strong>{{ openedMail.from }}</p>
	<p class="mb-1"><strong>To: </strong>{{ openedMail.to }}</p>
	<p class="mb-1"><strong>Date: </strong>{{ openedMail.date | date:'MMMM d, y, h:mm a' }}</p>
	<p class="mb-3"><strong>Subject: </strong>{{ openedMail.subject }}</p>

	<div class="border rounded p-3 bg-light overflow-y-scroll textbox" style="max-height: 200px;">
		{{ openedMail.body }}
	</div>
</div>

<app-mail-detail-actions></app-mail-detail-actions>